// SECTION description :: START

section#description.description

  .description__wrapper

    p.description__text Our core values lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

    ul.description__list
      li.description__item
        span Honesty
      li.description__item
        span Trust
      li.description__item
        span Accountability
      li.description__item
        span Community
      li.description__item
        span Collaboration

// SECTION description :: END