// SECTION humans main :: START

section#humans-main.humans-main

  .humans-main__wrapper
    .humans-main__wrapper-left

      .humans-main__bg(parallax-js data-stellar-ratio="1.1")

      .humans-main__img
        img(src='img/img-humans-main.jpg' srcset='img/img-humans-main@2x.jpg 2x')

    .humans-main__wrapper-right

      h1.humans-main__title.c-title We are a prop-tech company  powered by humans
      p.humans-main__subtitle.c-subtitle Short info about the company lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// SECTION humans main :: END