// SECTION Get Started :: START

section#get-started.get-started

  .get-started__header
    div

      .logo.logo--getStarted
        a.logo__link(href='/' title='')
          img.logo__img(src='img/logo.svg')

    div

      .c-btn__wrapperInline
        a.get-started__btn.c-btn.c-btn--bg.c-btn--small.c-btn--bg--blackPearl(href='#' title='')
          span Back to main site

  .get-started__wrapper
    .get-started__wrapper-left
    .get-started__wrapper-right

      .get-started__row

        h1.get-started__title.c-title We're on your case
        p.get-started__subtitle.c-subtitle We'll get back in touch in the next 48 hours to ... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// SECTION Get Started :: END