// COMMON :: START

// form
.form {
  &-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 33px;
  }

  &-control {
    outline: none;
    width: 100%;
    max-width: 100%;
    height: 53px;
    border-radius: 3px;
    background-color: rgba(#fff, 0.6);
    border: 1px solid rgba(#002a36, 0.6);
    box-shadow: none;
    padding-left: 26px;
    padding-right: 26px;
    font-size: 16px;
    color: rgba(#002a36, 1);
    @include inputPlaceholder {
      color: rgba(#002a36, 0.5);
      font-size: 16px;
    }
    @include adaptive(1365) {
      padding-left: 15px;
      padding-right: 15px;
    }

    &:focus,
    &:hover {
      box-shadow: none;
      border: 1px solid rgba(#002a36, 0.6);
    }
  }

  &__textarea {
    resize: none;
    min-height: 102px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__col {
    width: 100%;
    max-width: calc((100% - 38px) / 2);
    @include adaptive(1023) {
      max-width: calc((100% - 15px) / 2);
    }
    @include adaptive(767) {
      max-width: 100%;
    }
  }

  &__label {
    display: block;
    margin-bottom: 9px;
    font-weight: normal;
    font-size: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #002a36;
    @include adaptive(1279) {
      font-size: 10px;
    }
  }
}
// form :: end

// modal
.modal {
  &-header {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &-title {
    font-size: 24px;
  }

  &-subtitle {
    font-size: 20px;
  }

  &-body {
    padding-top: 30px;
    padding-bottom: 30px;

    p {
      padding-bottom: 15px;
      font-size: 16px;

      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }
}
// modal :: end

// copyright
.copyright {
  text-align: center;

  &__text {
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.06em;
    color: #002a36;
  }
}
// copyright :: end

// social
.social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include adaptive(767) {
    justify-content: center;
    padding-top: 30px;
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-left: 12px;
    margin-right: 12px;

    &:last-of-type {
      margin-right: 0;
    }

    &:hover {
      .icon-font {
        @include transition(color);

        &.icon {
          &-instagram {
            color: #c32aa3;
          }
          &-facebook {
            color: #3b5998;
          }
        }
      }
    }

    .icon-font {
      color: #002a36;
      font-size: 19px;
      @include transition(color);
    }
  }
}
// social :: end

// ANIMATION PARALLAX
[parallax-js] {
  will-change: transform;
  transform-origin: center;
  backface-visibility: hidden;
  transition: transform 2s cubic-bezier(0, 0, 0, 1) 0s;
}
// ANIMATION PARALLAX :: END

// COMMON :: END