// SECTION contacts :: START

section#contacts.contacts
  .contacts__wrapper

    .contacts__block-wrapper

      .contacts__block-left
        div
          h1.contacts__title.c-title Contact Us

          .contacts__desc
            span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            p Address:
            span 1-13 St Giles High St, London WC2H 8AG

            p Email:
            span thefuture@herddle.com

      .contacts__block-right

        form.contacts__form(action='' method='' autocomplete='off')

          .form__row
            .form__col.form__col-1
              .form-group
                label.form__label(for='contactsInput1') FIRST NAME
                input#contactsInput1.form-control(type='text', placeholder='')

            .form__col.form__col-2
              .form-group
                label.form__label(for='contactsInput2') LAST NAME
                input#contactsInput2.form-control(type='text', placeholder='')

          .form__row
            .form__col.form__col-1
              .form-group
                label.form__label(for='contactsInput4') What describes you best?
                select#contactsInput4.form-control
                  option(selected disabled) Please select
                  option 1
                  option 2
                  option 3

            .form__col.form__col-2
              .form-group
                label.form__label(for='contactsInput3') email
                input#contactsInput3.form-control(type='text', placeholder='')

          .form__row
            .form__col.form__col-1
              .form-group
                label.form__label(for='contactsInput5') Company (optional)
                input#contactsInput5.form-control(type='text', placeholder='')

            .form__col.form__col-2
              .form-group
                label.form__label(for='contactsInput6') How did you find us?
                select#contactsInput6.form-control
                  option(selected disabled) Please select
                  option 1
                  option 2
                  option 3

          .form-group
            label.form__label(for='contactsMessage') Message
            textarea#contactsMessage.form-control.form__textarea

          .c-btn__wrapper
            button.get-started__submit.c-btn.c-btn--big.c-btn--bg--irisBlue(type='submit')
              span Request Access

// SECTION contacts :: END