// SECTION Get Started :: START

.get-started {
  position: relative;

  &--case {
    .get-started {
      &__header {
        @include adaptive(767) {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          > div {
            &:nth-of-type(1) {
              padding-bottom: 30px;
            }
          }
        }
      }
    }
  }

  &__header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    @include adaptive(1279) {
      padding-left: 15px;
      padding-right: 15px;
    }
    @include adaptive(1023) {
      padding-top: 30px;
    }

    > div {
      &:nth-of-type(2) {
        @include adaptive(767) {
          display: flex;
          flex-direction: column-reverse;
          align-items: flex-end;
        }
      }
    }

    .c-link {
      margin-right: 25px;
      @include adaptive(767) {
        margin-right: 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    min-height: 100vh;

    &-left,
    &-right {
      min-height: 100%;
    }

    &-left {
      width: 100%;
      max-width: 39%;
      background-color: #001d25;
      background-image: url('../img/img-get-started-bg.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top center;
      @include adaptive(767) {
        display: none;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      min-width: 1px;
      padding: 120px 15px;
      @include adaptive(1023) {
        padding-bottom: 50px;
      }
      @include adaptive(767) {
        padding-top: 150px;
      }
    }
  }

  &__row {
    width: 100%;
    max-width: 694px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    padding-bottom: 40px;
    @include adaptive(767) {
      text-align: center;
    }
  }

  &__subtitle {
    padding-bottom: 47px;
  }

  &__submit {
    width: 100%;
    max-width: 242px;
    margin-top: 6px;
    @include adaptive(767) {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// SECTION Get Started :: END