---
title: Herddle | Get Started

pageClassName: p-get-started
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/get-started/_get-started
