---
title: Herddle | We are a prop-tech company powered by humans

pageClassName: p-humans
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/humans/_main
    include components/humans/_description
    include components/humans/_team

    include components/common/_testimonials
    include components/common/_flow

block modal
  include components/modal/_team-description
