---
title: Herddle

pageClassName: p-home
---
extends shared/_layout

block header
block content
  div.body.body--start(class!= pageClassName)

    include components/homepage/_how
    include components/homepage/_command

    include components/common/_flow