---
title: Herddle | Customer Success Manager

pageClassName: p-manager
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    include components/manager/_main
    include components/common/_navigation
