---
title: Herddle | Why property disruptors are the future?

pageClassName: p-property
pageSubClassName: p-property-inner
---
extends shared/_layout

block content
	div.body.body--start(class!= pageClassName)

		include components/property/_specification
