// SECTION flow :: START

section#flow.flow

  .flow__wrapper(parallax-js data-stellar-background-ratio="0.75")
    .flow__wrapper-left

      p.flow__title Make your property management flow.

    .flow__wrapper-right

      .c-btn__wrapper
        a.flow__btn.c-btn.c-btn--bg.c-btn--bg--blackPearl.c-btn--big(href='#' title='')
          span Book a Demo

// SECTION flow :: END