// SECTION review :: START

section#review.review

  .review__wrapper

    .review__quotes
      img(src='img/img-quotes.png' srcset='img/img-quotes@2x.png 2x')
      img(src='img/img-quotes-bottom.png' srcset='img/img-quotes-bottom@2x.png 2x')

    .review__wrapper-left
      img.review__img(src='img/img-review.jpg' srcset='img/img-review@2x.jpg 2x')

      p.review__name Samantha Willkinson
      p.review__position Portfolio Manager at JBD Europe

    .review__wrapper-right

      p.review__text Herddle allowed us to cut the property administration process down by over 20% by giving us more control to track and manage our portfolio properties. Their agent app is an extremely powerful engine to our process.

      .c-btn__wrapper
        a.review__btn.c-btn.c-btn--big.c-btn--bg.c-btn--bg--irisBlue(href='#' title='')
          span Get Started

// SECTION review :: END