// SUBTITLE :: START

.c-subtitle {
  position: relative;
  padding-left: 68px;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #002a36;
  @include adaptive(1279) {
    font-size: 16px;
  }
  @include adaptive(767) {
    padding-left: 50px;
    font-size: 14px;
  }

  &--woline {
    &:before {
      display: none;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 13px;
    left: 0;
    width: 46px;
    height: 2px;
    background-color: #000000;
    @include adaptive(767) {
      width: 30px;
    }
  }
}

// SUBTITLE :: END