// SECTION command :: START

section#command.command

  .command__grid

    .command__wrapper.command__wrapper-1

      .command__block.command__block-1
        .command__block-image
          img(src='img/img-command-1.jpg' srcset='img/img-command-1@2x.jpg 2x')
        .command__block-body
          div
            p.command__block-title Contractors
            p.c-subtitle We made it easy as pie to manage your properties and lettings. The property management tool you’ve always dreamed of, powered by smart technology and dedicated humans.

      .command__block.command__block-2
        .command__block-image
          img(src='img/img-command-2.jpg' srcset='img/img-command-2@2x.jpg 2x')
        .command__block-body
          div
            p.command__block-title Residents
            p.c-subtitle We made it easy as pie to manage your properties and lettings. The property management tool you’ve always dreamed of, powered by smart technology and dedicated humans.

    .command__wrapper.command__wrapper-2

      .command__block.command__block-1
        .command__block-image
          img(src='img/img-command-1.jpg' srcset='img/img-command-1@2x.jpg 2x')
        .command__block-body
          div
            p.command__block-title Block Management
            p.c-subtitle We made it easy as pie to manage your properties and lettings. The property management tool you’ve always dreamed of, powered by smart technology and dedicated humans.

      .command__block.command__block-2
        .command__block-image
          img(src='img/img-command-2.jpg' srcset='img/img-command-2@2x.jpg 2x')
        .command__block-body
          div
            p.command__block-title Social Housing Providers
            p.c-subtitle We made it easy as pie to manage your properties and lettings. The property management tool you’ve always dreamed of, powered by smart technology and dedicated humans.

// SECTION command :: END