// SECTION comment :: START

section#comment.comment

  .comment__bg

  .comment__wrapper

    .comment__wrapper-left
      .comment__img-wrapper
        img.comment__img(src='img/img-review.jpg' srcset='img/img-review@2x.jpg 2x')
        a.comment__btn(href='#' title='')
          span More Reviews
          i.icon-font.icon-arrow

    .comment__wrapper-right

      p.comment__quote "
      p.comment__text Herddle allowed us to cut the property administration process down by over 20% by giving us more control to track and manage our portfolio properties. Their agent app is an extremely powerful engine to our process.

// SECTION review :: END