// SECTION how :: START

section#how.how

  .how__bg
    .how__bg-left
    .how__bg-right

  .how__wrapper

    h2.how__title!= "How can Herddle <br>accelerate your business?"

    p.how__desc We made it easy as pie to manage your properties and lettings. The property management tool you’ve always dreamed of, powered by smart technology and dedicated humans.

    .c-btn__wrapper
      a.how__btn.c-btn.c-btn--bg.c-btn--bg--irisBlue.c-btn--big(href='#' title='')
        span Book a Demo

// SECTION how :: END