// SECTION main :: START

section#main.main

  .main__bg
    .main__bg-left(parallax-js data-stellar-ratio="0.85")
    .main__bg-right(parallax-js data-stellar-ratio="0.85")

  .main__wrapper

    .main__col
      h1.main__title.c-title!= "Where Property Management Flows"
      p.main__desc We made it easy as pie to manage your properties and lettings. The property management tool you’ve always dreamed of, powered by smart technology and dedicated humans.

      .c-btn__wrapper
        a.main__btn.c-btn.c-btn--bg.c-btn--bg--irisBlue.c-btn--big(href='#' title='')
          span Get Started

      .main__available-wrapper
        p.main__available
          span Available on
          i.icon-font.icon-mac
          span Desktop and
          i.icon-font.icon-phone
          span Mobile

    img.main__img(src='img/img-main.png' srcset='img/img-main@2x.png 2x')

// SECTION build main :: END