// SECTION most main :: START

section#most-main.most-main

  .most-main__wrapper
    .most-main__wrapper-left

      .most-main__bg(parallax-js data-stellar-ratio="0.9")

      .most-main__img
        img(src='img/img-most-main.jpg' srcset='img/img-most-main@2x.jpg 2x')

    .most-main__wrapper-right

      h1.most-main__title.c-title!= "Do the Most Meaningful Work of Your Career"
      p.most-main__subtitle.c-subtitle We'll get back in touch in the next 48 hours to ... lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// SECTION most main :: END