@font-face {
	font-family: "iconFont";
	src: url('../fonts/iconFont.eot');
	src: url('../fonts/iconFont.eot?#iefix') format('eot'),
		url('../fonts/iconFont.woff2') format('woff2'),
		url('../fonts/iconFont.woff') format('woff'),
		url('../fonts/iconFont.ttf') format('truetype'),
		url('../fonts/iconFont.svg#iconFont') format('svg');
}

@mixin icon-styles {
	font-family: "iconFont", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == about {
		$char: "\E001";
	}
	@if $filename == arrow {
		$char: "\E002";
	}
	@if $filename == careers {
		$char: "\E003";
	}
	@if $filename == checked {
		$char: "\E004";
	}
	@if $filename == contact {
		$char: "\E005";
	}
	@if $filename == facebook {
		$char: "\E006";
	}
	@if $filename == instagram {
		$char: "\E007";
	}
	@if $filename == mac {
		$char: "\E008";
	}
	@if $filename == phone {
		$char: "\E009";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-about {
	@include icon(about);

}
.icon-arrow {
	@include icon(arrow);

}
.icon-careers {
	@include icon(careers);

}
.icon-checked {
	@include icon(checked);

}
.icon-contact {
	@include icon(contact);

}
.icon-facebook {
	@include icon(facebook);

}
.icon-instagram {
	@include icon(instagram);

}
.icon-mac {
	@include icon(mac);

}
.icon-phone {
	@include icon(phone);

}